# Firebase Configuration
# Get these values from your Firebase project console:
# https://console.firebase.google.com/project/_/settings/general

VITE_FIREBASE_API_KEY="AIzaSyBoFS96phyjlUxbvE89jbCZsvm2spfM4Ug"
VITE_FIREBASE_AUTH_DOMAIN="generative-studio.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID=generative-studio
VITE_FIREBASE_STORAGE_BUCKET=generative-studio.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID="423947874343"
VITE_FIREBASE_APP_ID="1:423947874343:web:fe7dd1b5e07b037e26de02"
